table {
    width: 300px;
    height: 300px;
    border-collapse: collapse;
}
td {
    padding: 10px;
    border-top: 0!important;
    border-left: 0!important;

}
tr {
    padding: 10px;
    border-top: 0;
    border-left: 0;

}


